/* Freelancer Profile Page Styles */

.container-fluid {
  padding: 20px;
}

.row {
  margin-bottom: 20px;
}

.alert {
  margin-bottom: 20px;
}

.text-center {
  margin-bottom: 20px;
}

.profile-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.profile-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.skill-input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skill-input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.skill-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.delete-icon {
  color: #dc3545;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete-icon:hover {
  color: #c82333;
}

.add-skill-btn {
  padding: 5px 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.add-skill-btn:hover {
  background-color: #0056b3;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}
.skills {
  max-width: 60vw;
  display: flex;
  flex-wrap: wrap;
}
